#intro > p {
	padding: 0 10%;
    text-align: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#columnContainer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

#columnContainer > div {
	width: 50%;
	padding: 20px;
}

@media (max-width:800px) {
	#columnContainer {
		flex-direction: column-reverse;
	}

	#columnContainer > div {
		width: 100%;
	}
}

#columnContainer > div > p {
	margin: 1em 0;
}

#right {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#right > picture {
	max-width: 100%;
}

#right > span {
	font-weight: bold;
	font-size: 14px;
	text-align: center;
}
