:root {
	--hy-blue: #295b9b;
	--hy-blue-2: #2C69A8;
	--hy-off-white: #eeeeee;
	--hy-off-white-translucent: rgba(240, 240, 240, 0.85);
	--hy-slate-gray: #222222;
	--hy-pear: #ccd540;
	--hy-mid-gray: #707070;
}

@font-face {
	font-family: "Autodidact";
	src: url("/Autodidact_Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/Raleway_Regular.woff") format("woff");
	font-display: swap;
}

* {
	box-sizing: border-box;
	color: var(--slate-gray);
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	overflow-x: hidden;
	background: var(--hy-off-white);
	font-family: "Raleway";
}

h1, h2, h3, h4, h5, h6, button, input, label, .autodidact {
	font-family: "Autodidact";
	letter-spacing: 0.05em;
}

input[type=radio], input[type=checkbox] {
	appearance: unset;
    border-radius: 3px;
    width: 1em;
    height: 1em;
    background: #fff;
    border: 2px solid var(--hy-mid-gray);
	position: relative;
}

input[type=radio]:checked, input[type=checkbox]:checked {
	box-shadow: 5px -5px 3em 0.3em #333;
	background: var(--hy-mid-gray);
}

input[type=radio]:checked::after, input[type=checkbox]:checked::after {
	background: var(--hy-pear);
	content: "";
	transition-property: clip-path;
	transition-duration: 1s;
	transition-delay: -0.5s;
	clip-path: polygon(0% 0%, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%, 0% 50%);
}

input[type=radio]:checked::after, input[type=checkbox]:checked::after {
	clip-path: polygon(40% 80%, 20% 50%, 0% 50%, 35% 100%, 50% 100%, 100% 0%, 80% 0%);
	position: absolute;
	bottom: -20%;
	right: -70%;
    width: 230%;
    height: 250%;
}
