:root {
	--hy-blue: #295b9b;
	--hy-off-white: #eeeeee;
	--hy-off-white-translucent: rgba(240, 240, 240, 0.85);
	--hy-slate-gray: #222222;
	--hy-pear: #ccd540;
	--hy-mid-gray: #707070;
}

@font-face {
	font-family: "Autodidact";
	src: url("/Autodidact_Regular.woff") format("woff");
	font-display: swap;
}

@font-face {
	font-family: "Raleway";
	src: url("/Raleway_Regular.woff") format("woff");
	font-display: swap;
}

* {
	box-sizing: border-box;
	color: var(--slate-gray);
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
}

body {
	overflow-x: hidden;
	background: var(--hy-off-white);
	font-family: "Raleway";
}

h1, h2, h3, h4, h5, h6, button, input, label, .autodidact {
	font-family: "Autodidact";
	letter-spacing: 0.05em;
}
